.works {
    width: 340px;
    margin: 0 auto;
    padding-bottom: 65px;
    background-color: var(--dark-blue);
    
    .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 44px 35px 20px;
        
        h1 {
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
            font-size: 37px;
            margin-top: 0;
            margin-bottom: 20px;
            color: var(--white-color);
        
        }
        
        p {
            font-weight: 400;
            font-style: italic;
            font-size: 12px;
            text-align: center;
            color: var(--grey-blue);
        }
    }
    
    
    .gallery {
        
        .imageWrapper {
            width: 340px;
            height: 340px;
            border-top: 10px solid var(--white-color);
            border-bottom: 1.5px solid var(--white-color);
            position: relative;
            overflow: hidden;
            
            .image {
                width: 100%;
                height: 100%;
                position: absolute;
            }

            .description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 0 30px;
                transform: translateY(340px);
                background-color: var(--dark-blue);
                transition: height 0.5s ease-in 0.3s,
                        transform 0.5s ease-in 0.3s;

                h3 {
                    font-family: 'Oswald', sans-serif;
                    font-weight: 400;
                    color: var(--white-color);;
                }
                p {
                    font-weight: 400;
                    font-size: 14px;
                    color: var(--grey-blue);
                    line-height: 1.6;
                    text-align: center;
                }
                a {
                    display: block;
                    text-align: center;
                    width: 100%;
                    padding: 10px 20px;
                    color: var(--white-color);
                }
                a:hover {
                    cursor: pointer;
                }
            }
            &:hover .description {
                height: 100%;
                transform: translateY(0);
            }
        }
    } 
}


@media(min-width: 576px) {
    .works {
        width: 540px;
        
        .header {
            padding-top: 50px;
            
            h1 {
                font-size: 50px;
            }
            p {
                font-size: 14px;
            }
        }
        .gallery {
            .imageWrapper {
                width: 540px;
                height: 540px;

                .description {
                    transform: translateY(540px);
                    padding-left: 35px;
                    padding-right: 35px;

                    h3 {
                        font-size: 28px;
                    }
                }
            }
        } 
    }
}

@media(min-width: 768px) {
    .works {
        width: 720px;
        padding-bottom: 70px;
        
        .gallery {
            display: flex;
            flex-wrap: wrap;
            
            .imageWrapper {
                flex-basis: 360px;
                height: 360px;

                .description {
                    transform: translateY(360px);
                    padding-left: 25px;
                    padding-right: 25px;
                
                    h3 {
                        font-size: 18px;
                    }
                }
            }
            .image:nth-child(odd) {
                border-right: 2px solid var(--white-color);
            }
        }
    }
}

@media(min-width: 992px) {
    .works {
        width: 940px;
        
        .header {
            padding-left: 100px;
            padding-right: 100px;
        }
        .gallery {
            .imageWrapper {
                flex-basis: 313.334px;
                height: 313.334px;

                .description {
                    transform: translateY(313.334px);
                }
            }
            .image:not(:nth-child(3n)) {
                border-right: 2.5px solid var(--white-color);
            }
        }
    }
}

@media(min-width: 1200px) {
    .works {
        width: 1140px;
        
        .gallery {
            .imageWrapper {
                flex-basis: 380px;
                height: 380px;

                .description {
                    transform: translateY(380px);
                    padding-left: 30px;
                    padding-right: 30px;
                
                    h3 {
                        font-size: 24px;
                    }
                }
            }
            .image:not(:nth-child(3n)){
                border-right: 3.5px solid var(--white-color);
            }
        } 
    }
}