.container {
    min-width: 340px;
    max-width: 1140px;
    margin: 0 auto;
}

.toggleMenu {
    visibility: hidden;
}

.error {
    color: red;
}

.error_page {
    padding: 2em 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visibility {
    visibility: hidden;
}

.selected {
    font-weight: 700;
    color: var(--white-color);
    background-color: var(--blue-color);
}