.container {
    min-width: 340px;
    max-width: 1140px;
    margin: 0 auto;
}

.closed {
    display: none;
}

.error {
    color: red;
}

.page404 {
    padding: 2em 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visibility {
    visibility: hidden;
}