html {
    --beige-color: #e5e5e5;
    
    --grey-color: #808080;
    --grey-blue: #858e99;
    --grey-medium: #b9cbc9;
    --dark-grey: #333;
    
    --blue-color: #4e5dab;
    --blue-medium: #000d4b;
    --dark-blue: #292d33;
    
    --white-color: #fff;  
    --white-hover: rgba(255, 255, 255, 0.8);
    --light-black: #111;
    
    --red-color: #ff0000;
    --red-color-hover: hsla(0, 100%, 50%, 0.5);

    --green-color: green;
    --green-color-hover: rgba(0, 128, 0, 0.5);

    --button-hover: #929FDF;
}